@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/js/Home/Insurance")


<div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
        <button onclick="GoToCreateInsurance()" class="btn btn-warning">Create Insurance</button>
    </div>
    <table id="TableInsurances" style="margin-top: 50px;" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Policy Start</th>
                <th>Term</th>
                <th>RiskName</th>
                <th>CoverageName</th>
                <th>Update/Delete</th>
            </tr>
        </thead>
    </table>

</div>
